<div class="signup-form">
    <form action="">
        <div class="form-title"><h2>signup</h2></div>

        <div class="input-wrapper">
            <label for="nick">nick</label>
            <input type="text" id="nick">
        </div>


        <div class="input-wrapper">
            <label for="email">email</label>
            <input type="email" id="email">
        </div>


        <div class="input-wrapper">
            <label for="date">date of birth</label>
            <input type="date" id="email">
        </div>


        <div class="input-wrapper">
            <label for="password">password</label>
            <input type="password" id="password">
        </div>


        <div class="input-wrapper">
            <label for="passwordAgain">password again</label>
            <input type="password" id="passwordAgain">
        </div>

        <div class="checkbox-wrapper">
            <input type="checkbox" name="" id=""> <span>I accept</span>
        </div>


        <button class="login-button">login</button>

    </form>
</div>
