<app-navbar></app-navbar>

<main>
    <div class="container">
    <div class="wrapper">
        <div class="entry-list-wrapper">
            <div class="fixed-entry-list">
                <div class="fixed-entry-list-title-wrapper">
                    <div style="display:flex;flex-direction:row;align-items:center;height:40px;font-size:18px;">trends
                        <span style="margin-left:10px;">
                            <mat-icon style="font-size:14px;height:14px;width:14px;vertical-align: middle;" fontIcon="settings"></mat-icon>
                        </span>
                    </div>
                </div>
                <app-fixed-entry-list></app-fixed-entry-list>

            </div>

        </div>
        <router-outlet style="margin-left:25%;"></router-outlet>



    </div>

</div>
</main>

<app-footer></app-footer>

