<nav>
  <div class="navbar-wrapper">
    <div class="upper-nav">
      <div class="logo-wrapper"><a routerLink="">LOGO</a></div>

      <div class="search-wrapper"><input type="text" placeholder="search" /></div>

      <div class="auth-wrapper">
        <div class="login-wrapper"><a routerLink="login">login</a></div>
        <div class="signup-wrapper"><a routerLink="signup">signup</a></div>
      </div>
    </div>
    <div class="lower-nav">
      <div class="tag-link">trends</div>
      <div class="tag-link">#new</div>
      <div class="tag-link">#sport</div>
      <div class="tag-link">#old</div>
    </div>
  </div>
</nav>
