<div class="login-form">
    <form action="">
        <div class="form-title"><h2>login</h2></div>

        <div class="input-wrapper">
            <label for="email">e-mail</label>
            <input type="email" id="email">
        </div>


        <div class="input-wrapper">
            <label for="password">password</label>
            <input type="password" id="password">
        </div>

        <div class="checkbox-wrapper">
            <input type="checkbox" name="" id=""> <span>don't forget</span>
        </div>


        <button class="login-button">login</button>


        <h3 style="margin-top:30px">forgot something</h3>

        <div style="margin-top:20px;"><a href="#">reset password</a></div>
        <div><a routerLink="/signup">signup</a></div>



    </form>
</div>
